nltk==3.4.5
gensim==3.8.1
pandas==1.0.3
tqdm==4.43.0
audiomentations==0.9.0
loguru==0.3.2
torchlibrosa==0.0.4
SoundFile==0.10.3.post1
numpy==1.22.0
matplotlib==3.2.1
scikit_image==0.16.2
librosa==0.7.1
tensorboardX==2.0